{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="NChiza, Mist-Coat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Medical Insurance System.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Page Title  -->
    <title>MIS</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css?ver=3.1.1' %}'">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css?ver=3.1.1' %}'">
    <link id="skin-default" rel="stylesheet" href="{% static 'scss/libs/fontawesome-icons.scss' %}'">
  
</head>

<body class="nk-body bg-white has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->

            {% include 'layouts/sidebar.html' %}

            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->

                {% include 'layouts/header.html' %}
               
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    {% include 'layouts/messages.html' %}
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            {% block navigation %}
                            
                            {% comment %} your navigation here {% endcomment %}

                            {% endblock%}

                            {% block content %}

                                {% comment %} your content here {% endcomment %}


                            {% endblock%}
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'layouts/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->

    <!-- JavaScript -->
    {% include 'layouts/scripts.html' %}
    
</body>

</html>
