{% extends 'layouts/base.html' %}
{% load static%}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Claim</h3>
                <div class="nk-block-des text-soft">
                    <p>Claim details</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt"><a href="{%url 'claims-index' %}" class="btn btn-primary"><em class="icon ni ni-back"></em><span>Back</span></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
{% endblock%}

{% block content%}

<div class="nk-block nk-block-lg">
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Claim Information</h5>
            </div>
            <ul class="nav nav-tabs mt-n3">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#tabItem5"><em class="icon ni ni-map"></em><span>Claims</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabItem5">
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Patient Name</span>
                        <span class="text-muted">{{claim.patience_name}}</span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Gender</span>
                        <span class="text-muted">{{claim.gender}}</span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">City</span>
                        <span class="text-muted">{{claim.city}}</span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Patient Date Of Birth</span>
                        <span class="text-muted">{{claim.date_of_birth}}</span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Cause</span>
                        <span class="text-muted">{{claim.cause}}</span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Patient suffix</span>
                        <span class="text-muted">{{claim.patient_suffix}}</span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Fee Charged In USD</span>
                        <span class="text-muted">{{claim.fee_charged}}</span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Service Provider</span>
                        <span class="text-muted"><a href="{% url 'service-provider-details' claim.service_provider.pk %}">     
                            {{claim.service_provider}}
                      </a></span>
                    </div>
                    <hr class='bg-dark'>
                    <div class="d-flex align-center justify-content-between py-1">
                        <span class="text-muted">Claim Classification</span>

                        {% if claim.classification == 'Clean' %}<span class= 'badge badge-dot bg-success'>{{claim.classification}}</span> {% else %}<span class= 'text-danger'>{{claim.classification}}</> {% endif %}
                    </div>

                 </div>
            </div>
        </div>
    </div>
</div><!-- .nk-block -->



{% endblock %}
