{% extends 'layouts/base.html' %}
{% load static%}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content ">
                <h3 class="nk-block-title page-title">Medical Insurance Dashboard</h3>
                <div class="nk-block-des text-soft">
                    <p>Medical Insurance Management System</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="pageMenu">
                        
                    </div>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    {% endblock%}

    {% block content%}

            <!-- Bar graph -->
            <div class="card card-bordered">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-3">
                        <div class="card-title">
                            <h6 class="title">Medical Insurance </h6>
                            <p><a href="#" class="link link-sm">Detailed
                                    Stats</a></p>
                        </div>
                        <div class="card-tools mt-n1 me-n1"></div>
                    </div><!-- .card-title-group -->
                    <div class="nk-order-ovwg">
                        <div class="row g-4 align-end">
                            <!-- .col -->
                            <div class="col-md-6">
                                <div class="row g-4">
                                    <div class="col-sm-6 col-xxl-12">
                                        <div class="nk-order-ovwg-data buy">
                                            <div class="amount"> {{ clean_claims }} <small
                                                    class="currenct currency-usd">Clean(Valid) Claims</small></div>
                                    
                                            <div class="title"><em class="icon ni ni-arrow-down-left"></em> Medical Aid Claims
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xxl-12 border-danger">
                                        <div class="nk-order-ovwg-data buy border-danger">
                                            <div class="amount text-danger">{{ fraud_claims }} <small
                                                    class="currenct currency-usd text-danger">Fraudulent Claims</small></div>
                                    
                                            <div class="title"><em class="icon ni ni-arrow-down-left text-danger"></em> Medical Aid Claims
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-6">
                                <div class="row g-4">
                                    <div class="col-sm-6 col-xxl-12">
                                        <div class="nk-order-ovwg-data buy">
                                            <div class="amount">{{ clean_certificates }} <small
                                                    class="currenct currency-usd">Clean Certificates</small></div>
                                    
                                            <div class="title"><em class="icon ni ni-arrow-down-left"></em> Medical Aid Claims
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xxl-12 border-danger">
                                        <div class="nk-order-ovwg-data buy border-danger">
                                            <div class="amount text-danger">{{ fake_certificates }} <small
                                                    class="currenct currency-usd text-danger">Fraudulent Certificates</small></div>
                                    
                                            <div class="title"><em class="icon ni ni-arrow-down-left text-danger"></em> Certificates
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div>
                    </div><!-- .nk-order-ovwg -->
                </div><!-- .card-inner -->
            </div><!-- .card -->

            <!-- .card -->
        </div>
            {% endblock %}
