{% extends 'layouts/base.html' %} 
{% load static%} 

{% block navigation %}
<div class="nk-content-body">
  <div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between py-3 px-3 bg-light rounded-3">
      <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">Certificate Validation</h3>
        <div class="nk-block-des text-soft">
          <p>All Certificate Validations</p>
        </div>
      </div>
      <!-- .nk-block-head-content -->
      <div class="nk-block-head-content">
        <div class="toggle-wrap nk-block-tools-toggle">
          <div class="toggle-expand-content" data-content="pageMenu">
            <ul class="nk-block-tools g-3">
              <li class="nk-block-tools-opt">
                <a href="{%url 'validation-create' %}"  class="btn btn-primary mx-3"> <em class="icon ni ni-info"></em><span>Validate Certificate</span></a>
                <a href="{%url 'certificate-create' %}"  class="btn btn-primary"><em class="icon ni ni-property-add"></em><span>Create New Certificate</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- .nk-block-head-content -->
    </div>
    <!-- .nk-block-between -->
  </div>
  <!-- .nk-block-head -->{% endblock%} 
  
  {% block content%}
  <div class="nk-block nk-block-lg">
    <div class="card card-bordered card-preview">
      <div class="card-inner">
        <table
          class="datatable-init-export nowrap table"
          data-export-title="Export"
        >
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Created On</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for certificate in certificates %}
            <tr>
              
              <td>
                <a href="{% url 'certificate-detail' certificate.pk %}">     
                {{certificate.title}}
              </a>
              </td>
              {% if certificate.status == 'Clean' %}<td class="text-success">{% else %} <td class="text-danger"> {% endif %}{{certificate.status}}</td>
              <td>{{certificate.created|date:"d/m/Y - g:ia" }}</td>
              <td class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1">
                  <li>
                    <div class="drodown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          
                         
                         
                          <li>
                            <span class="preview-item text-danger" data-bs-toggle="modal" data-bs-target="#modalAlert{{certificate.pk}}">
                              
                              <span>
                                <em class="icon ni ni-trash-alt mx-1"></em>
                                <span> &nbsp; Delete</span>
                              </span>
                            
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
            <div class="modal fade" tabindex="-1" id="modalAlert{{certificate.pk}}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body modal-body-lg text-center">
                    <div class="nk-modal">
                      <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger" ></em>
                      <h4 class="nk-modal-title">Delete {{ certificate }} Validation</h4>
                      <div class="nk-modal-text">
                        <p class="lead">
                          Are You Sure You Want To Delete This Certificate Validation?
                        </p>
                      </div>
                      <div class="nk-modal-action mt-5">
                        <form method="POST" action='{% url 'delete-certificate-validation' certificate.pk %}'> 
                          {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-mw btn-danger"> Delete </button>
                        <a href="#" class="btn btn-lg btn-mw btn-light" data-bs-dismiss="modal">Cancel</a>
                      </div>
                    </div>
                  </div>
                  <!-- .modal-body -->
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- .card-preview -->
  </div>
  <!-- nk-block -->
  {% endblock %}
</div>
